
*, html {
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #ccc;
}

#___canvas {
    display: none;
}

body {
    font-size: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 3px 0 15px;
}

ul {
    list-style: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #007bff;
}

a:not([href]):not([tabindex]) {
    color: #007bff;
}

a {
    text-decoration: none; 
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    margin: 0px 0 10px 0;
    text-align: center;
}

p, li {
    line-height: 35px;
}

blockquote {
    display: inline-block;
}

#___article {
    display: inline-block;
}

.td50 {
    display: inline-block;
    width: 50%;
}

.td33 {
    display: inline-block;
    width: 33%;
}

#___menu_context {
    position: fixed;
    z-index: 99999;
    background-color: #ccc;
}

    #___menu_context ul {
        padding: 0;
        margin: 0;
    }

    #___menu_context li {
        padding: 0 15px 0 15px;
        border-bottom: 1px solid #eee;
        font-size: 0.7em;
    }

        #___menu_context li:hover {
            cursor: pointer;
            background-color: yellow;
        }

/*****************/
#___box_tran {
    position: absolute;
    background-color: #ddd;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    display: inline-block;
    z-index: 9999999;
    border: 1px solid orangered;
    overflow: hidden;
    font-family: Arial;
    font-size: 0.7em;
    padding: 5px 0 5px 3px;
    text-align: center;
    border-radius: 4px;
    line-height: 27px;
    display:none;
}

    #___box_tran b,
    #___box_tran p {
        text-align: left;
        display: inline-block;
        line-height: 25px;
        font-size: 1.3em;
    }

        #___box_tran b.lines,
        #___box_tran p.lines {
            width: 100%;
            padding-left: 5px;
        }

        #___box_tran b.lines {
            padding-top: 7px;
        }

        #___box_tran p.lines {
            font-size: 1em;
        }
/***********************************/
.popup_search_txt {
    float: left;
    border: 1px solid #ccc;
}

.popup_button {
    float: right;
    margin-right: 7px;
    border: 1px solid #ccc;
}

    .popup_button:hover {
        background-color: orange;
    }

/***********************************/
/*dictionary.cambridge.org*/
.utterance {
    display: inline-block;
    width: 100%;
    position: relative;
}

    .utterance .speaker {
        position: absolute;
    }

    .utterance .content {
        padding-left: 30px;
    }
