<h1 class="cdo-hero__title">English <span>Dictionary</span></h1>

<div class="cdo-hero__caption">
<div class="contain">
<i>i</i><span>Lovattpics/iStock/Getty</span>
</div>
</div>

<div class="cdo-hdr__blocks cdo-hdr__blocks--int">
<div class="contain">
<div class="cdo-search cdo-search--mod rounded">
<div class="cdo-search__bar">
<label class="accessibility" for="cdo-search-input">Search Term</label>
<span class="cdo-search__controls">
<i class="fcdo fcdo-search" aria-hidden="true"></i><span class="accessibility">Search</span>
<span id="cdo-search-current-dataset" class="resp resp--med-i"></span>
<i class="fcdo fcdo-dataset" aria-hidden="true"></i>
</span>
<div id="cdo-dataset" class="cdo-search__mega-menu">
<div class="pad-extra">
<div class="cdo-search__mega-menu__canvas a--rev">
<div class="cdo-search__mega-menu__col1">
<div class="h2 js-toggle" data-is-basic="1" data-target-selector="#megaMenuRecent">Recent and Recommended</div>
<div id="megaMenuRecent" class="cdo-search__mega-menu__links">
<ul id="cdo-dataset-prefered-list"></ul>
</div>
<div class="h2 js-toggle" data-is-basic="1" data-target-selector="#megaMenuDefinition">Definitions and Grammar</div>
<div id="megaMenuDefinition" class="cdo-search__mega-menu__links">
<p>Clear explanations of natural written and spoken English</p>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
</div>
<div class="cdo-search__mega-menu__col2">
<div class="h2 js-toggle" data-is-basic="1" data-target-selector="#megaMenuTranslation">Translation</div>
<div id="megaMenuTranslation" class="cdo-search__mega-menu__links">
<div class="h3">Bilingual Dictionaries</div>
<p>Click on the arrows to change the translation direction.</p>
<ul>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Spanish
Spanish–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–French
French–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–German
German–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Indonesian
Indonesian–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Italian
Italian–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Polish
Polish–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Portuguese
Portuguese–English
</span>
</li>
<li>
<span class="bilingual-switch pointer js-toggle-children" data-target-selector="next" title="Change language direction"><i class="fcdo fcdo-exchange fcdo--nudge" aria-hidden="true"></i></span>
<span>
English–Japanese
Japanese–English
</span>
</li>
</ul>
<div class="h3">Semi-bilingual Dictionaries</div>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
</div>
</div>
</div>
<div class="cdo-search__mega-menu__foot"><span class="js-toggle pointer on" data-target-selector="#cdo-dataset"><i class="fcdo fcdo-close" title="Close" aria-hidden="true"></i></span></div>
</div>
</div>
<div class="cdo-search__switches resp resp--sml"></div>
</div>
</div>
</div>
<div id="overlay"></div>
<div id="ad_topslot_a" class="am-default ">
</div>
<div class="contain cdo-tpl cdo-tpl-alt cdo-tpl-dataset">
<div id="ad_topslot_b" class="am-default ">
</div>
<div id="page-content" class="cdo-tpl__z cdo-tpl-alt__z1" role="main">
<div class="mod mod--main mod--border trends--egt">
<div class="pad clrd">
<h2>Popular searches</h2>
<div class="cols cols--half a--rev bigger prefix-float">
<div class="cols__col">
<ul class="unstyled divided flush">
<li>
<span class="prefix">1</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/eg', event);"><pagetitle>e.g.</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">2</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/determine', event);"><pagetitle>determine</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">3</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/though', event);"><pagetitle>though</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">4</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/commitment', event);"><pagetitle>commitment</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">5</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/privilege', event);"><pagetitle>privilege</pagetitle></a>
</span>
</li>
</ul>
</div>
<div class="cols__col">
<ul class="unstyled divided divided--notfirst flush">
<li>
<span class="prefix">6</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/honest', event);"><pagetitle>honest</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">7</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/integrity', event);"><pagetitle>integrity</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">8</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/initiative', event);"><pagetitle>initiative</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">9</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/challenge', event);"><pagetitle>challenge</pagetitle></a>
</span>
</li>
<li>
<span class="prefix">10</span>
<span class="prefix-item">
<a onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/ad-hoc', event);"><pagetitle>ad hoc</pagetitle></a>
</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="mod mod-browse mod-browse--split oflow-hide">
<div class="h3 txt-block txt-block--alt flush">
<b>
Browse this dictionary                    </b>
</div>
<div class="cycler cycler--size1 shadow-inside-light js-cycler"><div><ul id="browseLetters" data-dictcode="english" class="cycler__items unstyled flush a--none js-cycler-holder"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div></div>
<div class="clrd">
<div class="scroller scroller--style1 scroller--blur scroller--ind-r grad-trans2-pseudo js-scroller">
<div class="scroller__content js-scroller-content">
<ul class="unstyled a--b a--rev" id="browseGroups">
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
<li>

</li>
</ul>
</div>
</div>
<div class="scroller scroller--style2 scroller--blur scroller--ind-r grad-trans3-pseudo js-scroller">
<div class="scroller__content js-scroller-content">
<ul class="unstyled a--b a--rev" id="browseResults">
<li>
<a title="a definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="hw">a</b></span></span></span>
</a>
</li>
<li>
<a title="A &amp; E definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-e', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="hw">A &amp; E</b></span></span></span>
</a>
</li>
<li>
<a title="a (heavy) cross to bear idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-heavy-cross-to-bear', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a (heavy) cross to bear</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a (quick/brisk) trot through sth idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-quick-brisk-trot-through-sth', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a (quick/brisk) trot through <i class="obj" title="sth: abbreviation for something.">sth</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a (whole) heap of sth idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-whole-heap-of-sth', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a (whole) heap of <i class="obj" title="sth: abbreviation for something.">sth</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bad workman blames his tools idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bad-workman-blames-his-tools', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bad workman blames his tools</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a banner year/season/month/week idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-banner-year-season-month-week', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a banner year/season/month/week</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a baptism of/by fire idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-baptism-of-by-fire', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a baptism of/by fire</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a big ask idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-big-ask', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a big ask</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a big/great girl" s="" blouse="" idiom="" definition="" in="" english'="" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-big-great-girl-s-blouse', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a big/great girl's blouse</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bird in the hand (is worth two in the bush) idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bird-in-the-hand-is-worth-two-in-the-bush', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bird in the hand (is worth two in the bush)</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bird" s="" eye="" view="" idiom="" definition="" in="" english'="" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bird-s-eye-view', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bird's eye view</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bit of a lad idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bit-of-a-lad', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bit of a lad</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bit of fluff/stuff/skirt idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bit-of-fluff-stuff-skirt', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bit of fluff/stuff/skirt</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bit of rough idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bit-of-rough', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bit of rough</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bit on the side idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bit-on-the-side', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bit on the side</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bite (to eat) idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bite-to-eat', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bite (to eat)</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bitter pill (to swallow) idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bitter-pill-to-swallow', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bitter pill (to swallow)</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blanket of sth idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blanket-of-sth', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blanket of <i class="obj" title="sth: abbreviation for something.">sth</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blast from the past idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blast-from-the-past', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blast from the past</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blessing in disguise idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blessing-in-disguise', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blessing in disguise</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blinding flash idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blinding-flash', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blinding flash</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blitz on sth idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blitz-on-sth', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blitz on <i class="obj" title="sth: abbreviation for something.">sth</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blot on sb" s="" character="" idiom="" definition="" in="" english'="" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blot-on-sb-s-character', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blot on <i class="obj">sb's</i> character</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a blot on the landscape idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-blot-on-the-landscape', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a blot on the landscape</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bolt from the blue idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bolt-from-the-blue', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bolt from the blue</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bolt from/out of the blue idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bolt-from-out-of-the-blue', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bolt from/out of the blue</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bone of contention idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bone-of-contention', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bone of contention</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a boot/kick up the/your backside idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-boot-kick-up-the-your-backside', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a boot/kick up <i class="obj">the/your</i> backside</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a breath of fresh air idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-breath-of-fresh-air', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a breath of fresh air</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bunch of fives idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bunch-of-fives', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bunch of fives</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bundle of laughs idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bundle-of-laughs', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bundle of laughs</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a bundle of nerves idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-bundle-of-nerves', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a bundle of nerves</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a cappella definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-cappella', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="hw">a cappella</b></span></span></span>
</a>
</li>
<li>
<a title="a change is as good as a rest idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-change-is-as-good-as-a-rest', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a change is as good as a rest</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a cheap shot idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-cheap-shot', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a cheap shot</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a chicken and egg situation idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-chicken-and-egg-situation', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a chicken and egg situation</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a chip off the old block idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-chip-off-the-old-block', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a chip off the old block</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a chip on your shoulder idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-chip-on-your-shoulder', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a chip on <i class="obj" title="You can use my, your, their, etc. here">your</i> shoulder</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a chorus of something idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-chorus-of-something', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a chorus of <i class="obj">something</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a clean bill of health idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-clean-bill-of-health', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a clean bill of health</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a clean sheet/slate idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-clean-sheet-slate', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a clean sheet/slate</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a clean slate idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-clean-slate', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a clean slate</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a close call idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-close-call', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a close call</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a close/near thing idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-close-near-thing', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a close/near thing</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a cloud hanging over sb idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-cloud-hanging-over-sb', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a cloud hanging over <i class="obj" title="sb: abbreviation for somebody.">sb</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a cloud on the horizon idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-cloud-on-the-horizon', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a cloud on the horizon</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a cog in a/the machine idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-cog-in-a-the-machine', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a cog in a/the machine</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a conflict of interest idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-conflict-of-interest', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a conflict of interest</b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
<li>
<a title="a credit to someone/something idiom definition in English" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/a-credit-to-someone-something', event);">
<span class="entry_title"><span class="results"><span class="base"><b class="phrase">a credit to <i class="obj">someone/something</i></b></span> <span class="pos">idiom</span></span></span>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="mod mod--main mod--border">
<div class="pad clrd">
<h2>Key features</h2>
<div class="cols cols--third cols--icons small">
<div class="cols__col spr-b spr--ico-key-define">
<p>Get clear, simple definitions from the British, American, and Business dictionaries with just one search!</p>
</div>
<div class="cols__col spr-b spr--ico-key-hear">
<p>Hear the words spoken in British and American English</p>
</div>
<div class="cols__col spr-b spr--ico-key-examples">
<p>Thousands of real examples show how words are used</p>
</div>
<div class="cols__col spr-b spr--ico-key-guidewords">
<p>Guidewords take you to the exact meaning you are looking for</p>
</div>
<div class="cols__col spr-b spr--ico-key-thesaurus">
<p>The Smart Thesaurus helps you expand your vocabulary with related words and synonyms</p>
</div>
<div class="cols__col spr-b spr--ico-key-levels">
<p>Ideal for intermediate to advanced learners of English (CEF levels A2–C2)</p>
</div>
<div class="cols__col spr-b spr--ico-key-corpus">
<p>Based on the Cambridge English Corpus — a database of 1.5 billion words</p>
</div>
</div>
</div>
</div>
<div class="mod mod--main mod--border">
<div class="pad clrd">
<h2>Acknowledgements</h2>
<p>The dictionaries that you can search together as English on this Cambridge Dictionary website are:</p>
<div class="cols cols--third small">
<div class="cols__col cols__col--product">
<p class="___box_img"><input class="___img_src" value="/external/images/book-adv-learner-english.jpg?version=4.0.55" type="hidden"></p>
<p class="cols__col--product-text"><i>Cambridge Advanced Learner’s Dictionary, 4th Edition</i></p>
<p class="cols__col--product-link">
<a class="btn btn--impact" onclick="f_main_openUrl('http://www.cambridge.org/us/cambridgeenglish/catalog/dictionaries/cambridge-advanced-learners-dictionary-4th-edition/', event);">Buy the book!</a>
</p>
</div>
<div class="cols__col cols__col--product">
<p class="___box_img"><input class="___img_src" value="/external/images/book-english-academic.jpg?version=4.0.55" type="hidden"></p>
<p class="cols__col--product-text"><i>Cambridge Academic Content Dictionary</i></p>
<p class="cols__col--product-link">
<a class="btn btn--impact" onclick="f_main_openUrl('http://www.cambridge.org/us/cambridgeenglish/catalog/dictionaries/cambridge-academic-content-dictionary/', event);">Buy the book!</a>
</p>
</div>
<div class="cols__col cols__col--product">
<p class="___box_img"><input class="___img_src" value="/external/images/book-english-business.jpg?version=4.0.55" type="hidden"></p>
<p class="cols__col--product-text"><i>Cambridge Business English Dictionary</i></p>
<p class="cols__col--product-link">
<a class="btn btn--impact" onclick="f_main_openUrl('http://www.cambridge.org/us/cambridgeenglish/catalog/business-professional-and-vocational/cambridge-business-english-dictionary/', event);">Buy the book!</a>
</p>
</div>
</div>
</div>
</div>
<div id="ad_btmslot_a" class="am-default ">
</div>
</div>
<div class="cdo-tpl__z cdo-tpl-alt__z2 cdo-tpl-alt__z2--retract">
<div class="mod mod--dark mod--style1">
<div class="pad">
<p class="leader">Create and share your own word lists and quizzes for free!</p>
<p>


</p>
</div>
</div>
<div id="ad_rightslot" class="am-default ">
</div>
<div class="mod mod--dark mod--style2 oflow-hide">
<div class="pad">
<p class="h2 semi-flush alt">Word of the Day</p>
<p class="h4 feature-w-big wotd-hw">palette</p><p>a thin board with curved edges and a hole for your thumb, used by artists to mix their paints on while they are painting</p>
</div>
<div class="txt-block txt-block--alt with-icons js-eqh-sticky">
<div class="with-icons__content">
<a class="a--rev a--b" onclick="f_main_openUrl('https://dictionary.cambridge.org/dictionary/english/palette', event);">
<span>About this</span> <i class="fcdo fcdo-angle-right" aria-hidden="true"></i>
</a>
</div>
<div class="with-icons__icons">




</div>
</div>
</div>
<div class="cols cols--half">
<div class=" 'cols__col' ">
<div class="mod mod--border">
<div class="pad">
<p class="h2 semi-flush">Blog</p>
<p class="leader semi-flush">
<a class="a--alt a--rev" onclick="f_main_openUrl('https://dictionaryblog.cambridge.org/2018/10/19/obituary-professor-ron-carter/', event);">Obituary: Professor Ron Carter</a>
</p>
<p class="meta">
<small class="smaller">
<time>October 19, 2018</time>
</small>
</p>
</div>
<a class="txt-block a--alt" onclick="f_main_openUrl('https://dictionaryblog.cambridge.org/2018/10/19/obituary-professor-ron-carter/', event);"><span>Read More</span> <i class="fcdo fcdo-angle-right"></i></a>
</div>
</div>
<div class=" 'cols__col' ">
<div class="mod mod--dark mod--border mod--style3">

<div class="pad">
<p class="h2 alt semi-flush">New Words</p>
<p class="h4 feature-w semi-flush nw-hw">
<a class="a--alt a--rev" onclick="f_main_openUrl('https://dictionaryblog.cambridge.org/2018/10/22/new-words-22-october-2018/', event);">cheating mafia noun</a>
</p>
<p>
<small class="smaller"><time>October 22, 2018</time></small>
</p>
</div>
<a class="txt-block txt-block--alt js-eqh-sticky" onclick="f_main_openUrl('https://dictionaryblog.cambridge.org/2018/10/22/new-words-22-october-2018/', event);">
<span>More new words</span> <i class="fcdo fcdo-angle-right"></i>
</a>
</div>
</div>
</div>
</div>        </div>
<div class="cdo-promo">
<div class="contain">
<div class="cols">
<div class="cols__col spr-b spr--promo-search">
<a title="Search from your browser" onclick="f_main_openUrl('https://dictionary.cambridge.org/toolbardictionary.html', event);">
<span class="h4">Search from your browser</span>
<p>Add Cambridge Dictionary to your browser in a click!</p>
</a>
</div>
<div class="cols__col spr-b spr--promo-widget">
<a title="Get our free widgets" onclick="f_main_openUrl('https://dictionary.cambridge.org/freesearch.html', event);">
<span class="h4">Get our free widgets</span>
<p>Add the power of Cambridge Dictionary to your website using our free search box widgets.</p>
</a>
</div>
<div class="cols__col spr-b spr--promo-apps">

</div>
</div>
</div>
</div>
<footer id="footer" class="ftr clr">
<div class="contain">
<div class="ftr__nav">
<ul class="cols unstyled unstyled-nest ftr__links">
<li class="cols__col">
<a class="ico-bg-abs js-accord" data-js-maxwidth="600" onclick="f_main_openUrl('https://dictionary.cambridge.org/learn.html', event);">Learn</a>
<ul>
<li class="resp-hide--sml"><a onclick="f_main_openUrl('https://dictionary.cambridge.org/learn.html', event);">Learn</a></li>
<li><a onclick="f_main_openUrl('https://dictionaryblog.cambridge.org/category/new-words/', event);">New Words</a></li>
<li><a onclick="f_main_openUrl('https://dictionary.cambridge.org/help/', event);">Help</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/gb/cambridgeenglish/catalog/dictionaries', event);">In Print</a></li>
</ul>
</li>
<li class="cols__col">
<a class="ico-bg-abs js-accord" data-js-maxwidth="600" onclick="f_main_openUrl('https://dictionary.cambridge.org/develop.html', event);">Develop</a>
<ul>
<li class="resp-hide--sml"><a onclick="f_main_openUrl('https://dictionary.cambridge.org/develop.html', event);">Develop</a></li>
<li><a onclick="f_main_openUrl('http://dictionary-api.cambridge.org/', event);">Dictionary API</a></li>
<li><a onclick="f_main_openUrl('https://dictionary.cambridge.org/doubleclick.html', event);">Double-Click Lookup</a></li>
<li><a onclick="f_main_openUrl('https://dictionary.cambridge.org/freesearch.html', event);">Search Widgets</a></li>
<li><a onclick="f_main_openUrl('https://dictionary.cambridge.org/license.html', event);">License Data</a></li>
</ul>
</li>
<li class="cols__col">
<a class="ico-bg-abs js-accord" data-js-maxwidth="600" onclick="f_main_openUrl('https://dictionary.cambridge.org/about.html', event);">About</a>
<ul>
<li class="resp-hide--sml"><a onclick="f_main_openUrl('https://dictionary.cambridge.org/about.html', event);">About</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/policy/accessibility/', event);">Accessibility</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/us/cambridgeenglish', event);">Cambridge English</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/', event);">Cambridge University Press</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/policy/dictionary_privacy', event);">Cookies and Privacy</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/elt/corpus/', event);">Corpus</a></li>
<li><a onclick="f_main_openUrl('http://www.cambridge.org/about-us/terms-use/', event);">Terms of Use</a></li>
</ul>
</li>
</ul>
</div>
<div class="ftr__follow">



</div>
<div class="ftr__copy">

<p>© Cambridge University Press 2018</p>
</div>
</div>
</footer>
<div class="overlay js-overlay"></div>
<ul class="unstyled notification banner"></ul>
<ul class="unstyled notification popup"></ul>